.progressbarplay {
	cursor:pointer;overflow: hidden;height: 8px;margin-bottom: 8px;background-color: #F7F7F7;background-image: -moz-linear-gradient(top,whiteSmoke,#F9F9F9);background-image: -ms-linear-gradient(top,whiteSmoke,#F9F9F9);background-image: -webkit-gradient(linear,0 0,0 100%,from(whiteSmoke),to(#F9F9F9));background-image: -webkit-linear-gradient(top,whiteSmoke,#F9F9F9);background-image: -o-linear-gradient(top,whiteSmoke,#F9F9F9);background-image: linear-gradient(top,whiteSmoke,#F9F9F9);background-repeat: repeat-x;filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5',endColorstr='#f9f9f9',GradientType=0);-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);-moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);-webkit-border-radius: 6px;-moz-border-radius: 6px;border-radius: 6px;
}
.progressbarplay .bar {
	cursor:pointer;width: 0;height: 8px;color: white;font-size: 12px;text-align: center;text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);-webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);-moz-box-shadow: inset 0 -1px 0 rgba(0,0,0,0.15);box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;-webkit-transition: width .6s ease;-moz-transition: width .6s ease;-ms-transition: width .6s ease;-o-transition: width .6s ease;transition: width .6s ease;
}

body {
	margin:0px 0px;
	padding:0px;
	text-align:center;
	font-family: 'Roboto', sans-serif;
}

div.content {
	margin:0px auto;
	text-align:left;
	padding:15px;display: inline-block
}
div.music {
	float:right;
	width:480px;
	height: 420px;
	overflow-x: hidden;
	overflow-y: auto;
}


div.header {
	background-color: #32323a;
	padding: 20px;
	margin-bottom:20px;
}

div.progress {
    width: 944px;
    margin: 0 auto;
	padding-top:10px;
}


/* buttons */

.button {
	cursor:pointer;
	border:none;
	outline:none;
	width:54px;
	height:54px;
	margin-left:10px;
	margin-right:10px;
	margin-bottom:10px;
}

#playButton {
	background:url(buttons/ic_ma_play_white.png) no-repeat; 
}

#playButton:active {
	background:url(buttons/ic_ma_play_white_onclick.png) no-repeat;
}

#pauseButton {
	background:url(buttons/ic_ma_pause_white.png) no-repeat; 
}

#pauseButton:active {
	background:url(buttons/ic_ma_pause_white_onclick.png) no-repeat;
}

#nextButton {
	background:url(buttons/ic_ma_next_white.png) no-repeat; 
}

#nextButton:active {
	background:url(buttons/ic_ma_next_white_onclick.png) no-repeat;
}

/* now playing styling */

#nowplayingcontainer {
	margin-top:10px;
	padding: 0px;
	padding-left: 5px;
	background-clip:padding-box;
}

#nowplaying {
	background-color:white;
	padding-left:10px;
}

#nowplaying #artist {
	font-size:90%;
	font-weight: bold;
	text-transform:uppercase;
	white-space: nowrap;
	text-overflow:ellipsis;
}

#nowplaying #track {
	font-size:110%;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 24px;
	white-space: nowrap;
	text-overflow:ellipsis;
}

/* playlist styling */

ul {
	list-style-type: none;
	padding-left:0px;
}

li {
	margin-top:10px;
	padding: 0px;
	padding-left: 5px;
	background-clip:padding-box;
}

.trackcontainer {
	background-color:white;
	padding-left:10px;
}

li .artist {
	font-size:80%;
	font-weight: bold;
	text-transform:uppercase;
	white-space: nowrap;
	text-overflow:ellipsis;
}

li .title {
	font-size:100%;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	white-space: nowrap;
	text-overflow:ellipsis;
}